name: GitHub Actions Demo
on:
  push:
    branches: [ main ]
    paths-ignore: [.github/**]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '15 6 * * 0'
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Job triggered by event ${{ github.event_name }} on branch ${{ github.ref }}"
      
      - name: Checkout
        uses: actions/checkout@v6.0.1
      
      - name: List repository files
        run: |
          echo "${{ github.repository }} contains the following files:"
          tree
